/* Custom things */

/* MUTATE THE SCROLL ! */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: #eaeaea;
  border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #aaa;
}


.direction .inner {
  text-align: center;
  padding: 40px;
}

.event-img {
  width: 100%;
}

.tab-content {
  padding-top: 50px !important;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#event-control {
  position: absolute;
  right: 8px;
  top: -3px;
}

#event-loading {
  position: relative;
  top: 13px;
  opacity: 0;
}

.carousel-desc {
  background-color: rgba(36, 35, 35, 0.7);
}

#events, #events img, #events .carousel-desc {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Audio Level */
#level {
  padding: 20px;
}

#info-pane {
  background-color: rgb(240, 240, 240);
  border-radius: 8px;
  padding: 20px;
  font-size: 20px;
  color: rgb(205, 204, 204);
  text-align: center;
  margin-top: 17px;
  box-shadow: 0px 0px 24px 3px inset;
}

#info-pane.anomaly {
  color: rgb(255, 255, 255);
  background-color: rgb(252, 97, 40);
  box-shadow: 0px 0px 24px 3px rgb(216, 152, 152);
}

#level-graph {
  height: 200px;
  margin-top: -30px;
}

/* Messages */

#messages h3 {
  color: gray;
}

#history h4 {
  color: rgb(112, 200, 177);
}

#history .inner {
  overflow-y: auto;
  height: 300px;
}

#messages .inner {
  overflow-y: auto;
  height: 300px;
}

/* Settings */

#overlay {
  z-index: 1000;
  background-color: rgba(24, 24, 24, 0.7);
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding-top: 5%;
}

#overlay .inner {
  padding: 30px;
}